* {
    box-sizing: border-box;
    font-family: 'Allura';
}

.font-style {
    font-size: 5px;
}

.example-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #f1f1f1;
    margin: 55px;
}

.image-style {
    width: 380px;
    height: 235px;
}